<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Admin Area</title>

    <link rel="stylesheet" type="text/css" th:href="@{/mainTheme.css}" />

</head>

<body>
<div th:include="menu::menufrag" id="menu"></div>
<div id="wrapper">
    <div id="logo">
        <img th:src ="@{/images/logo.png}"/>

        <div id="title_kontakt">

            <h1>Configuration</h1>
                <h2>1. Event</h2>
                    <p><a href="/eventSave">Add event</a> </p>
                    <p><a href="/eventDelete">Delete event</a> </p>
                <h2>2. User</h2>
                    <p><a href="#">Add user</a> </p>
                    <p><a href="#">Delete user</a> </p>
                <h2>3. Other</h2>
                    <p><a href="#">Preview of event participants</a> </p>


        </div>



    </div>

    <div th:replace="footer::footerfrag" id="footer"></div>

</div>

</body>
</html>
