<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Register Event</title>

    <link rel="stylesheet" type="text/css" th:href="@{/form.css}" />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

</head>

<body>
    <span th:utext="${succesMessage}" class="successMessage"></span>

<div class="form-style-10" style="width: 80%">
    <h1>Delete event <a href="/admin">X</a></h1>

    <form th:action="@{/eventDelete}" method="post">

        <div class="section"><span>1</span>Event ID</div>

        <div class="inner-wrap">
            <div th:if="${exception}">
                <p th:utext="${exception}" class="errorMessage">${exception.message}</p>
            </div>
            <label>ID<input type="text" name="event_id"/></label>
        </div>

        <div class="button-section">
            <input type="submit" value="Delete" name="Save" />
        </div>
    </form>


</div>


</body>
</html>
