<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>

 <link rel="stylesheet" type="text/css" th:href="@{/mainTheme.css}" />
 
</head>

<body>
  <div th:include="menu::menufrag" id="menu"></div>
  <span th:utext="${successMessage}" class="successMessage"></span>

  <div id="wrapper">

    <div id="logo">

    <img th:src ="@{/images/logo.png}"/>



    <div id="header">
    <div id="title_head">
    <h2>IT events !</h2>
    <p>Register now and get knowledge from real professionals.</p>
    <p>Check current events, lectures, courses and more in the Events tab.</p>
    <br />
      <!--
    <a href="#">Lorem ipsum</a>
    <a href="#">Lorem ipsum</a>
    -->

    </div>    
    <img th:src="@{/images/image.jpg}" align="right" />
    </div>

    </div>

	<div th:replace="footer::footerfrag" id="footer"></div>

    </div>
	
</body>
</html>
