<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title th:remove="all">Event registration confirmation</title>

    <style type="text/css">
        p {
            font-size: 16px;
            font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
            line-height: 1.5;}

        .blue_back {
            font-size: 16px;
            color: #ffffff; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
            line-height: 1.5;
            padding: 15px 0;
            text-align: center;}

        h5 {
            margin-top: 10px;
        }
    </style>

</head>
<body>

<div style="width:100%; ">

    <div style="height:50px; width:100%; background-color:#0095cc"><p th:text="${header}" class="blue_back"></p></div>

    <div style="padding:0 20px;">

        <h1 th:text="${eventTitle}"></h1>
        <p>IMPORTANT! - Check the following data and make sure it is correct.
            In case of confusion, please contact us immediately: itevents@gmail.com</p>

        <p>------------------------------------------------------</p>
        <p style="font-weight: bold">INFORMATION ABOUT THE EVENT:</p>

        <label>TITLE:</label>
        <h5 th:text="${eventTitle}"></h5>
        <label>EVENT DATE:</label>
        <h5 th:text="${eventTerm}"></h5>
        <label>PARTICIPANT DATA:</label>
        <h5 th:text="${userName}"></h5>
        <h5 th:text="${email}"></h5>

        <p>-----------------------------------------------------</p>
        <p style="font-weight: bold">INFORMATION ABOUT PAYMENT:</p>

        <p>Please pay the full cost by bank transfer to the given account:</p>
        <p>IMPORTANT! - Please provide your email address in the transfer title
            Without providing your e-mail address, your payment may not be identified.</p>

        <label>NAME OF THE RECIPIENT:</label>
        <h5>itEVENTS Sp. z o.o.</h5>
        <label>ACCOUNT NUMBER:</label>
        <h5 th:text="${bankAccount}"></h5>
        <label>TO PAY:</label>
        <h5 th:text="${eventPrice}"></h5>

    </div>


    <div style="height:50px; width:100%; background-color:#0095cc"><p class="blue_back">Thank you for booking the event on our website</p></div>

</div>

</body>
</html>